<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="top.easylearning.ssm.mapper.UserMapper">
  
	<resultMap type="top.easylearning.ssm.domain.User" id="userMap">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />		
	</resultMap>
  
	<!-- 此处select标签的id值对应Mapper类中方法名 -->
	<select id="getUserById" parameterType="int" resultMap="userMap">
	
			select * from userinfo where id = #{id}
       
	</select>

	
	<select id="getUserByName" parameterType="string" resultMap="userMap">
	
			select * from userinfo where username = #{username}
        
	</select>
	
	<insert id="addUser" parameterType="user" >
	
			insert into userinfo(id,username,password) values(#{id},#{username},#{password})
		
	</insert>
</mapper>
